<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>8</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>loopsEnabled</key>
		<false/>
		<key>detailType</key>
		<string>Door</string>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>7</integer>
		<key>detailPosition</key>
		<integer>9</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>9</integer>
		<key>result_2</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>8</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>detailType</key>
		<string>Door</string>
		<key>loopsEnabled</key>
		<true/>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>9</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>3</integer>
		<key>result_2</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>10</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>11</integer>
		<key>result_1</key>
		<integer>9</integer>
		<key>result</key>
		<integer>0</integer>
		<key>isOpened</key>
		<false/>
		<key>detailType</key>
		<string>Door</string>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>loopsEnabled</key>
		<true/>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>2</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>3</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>5</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>6</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>8</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>9</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>8</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>loopsEnabled</key>
		<true/>
		<key>detailType</key>
		<string>Door</string>
		<key>isOpened</key>
		<false/>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>4</integer>
		<key>result_2</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>2</integer>
				<key>virusFloorPosition</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>4</integer>
				<key>virusFloorPosition</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>6</integer>
				<key>virusFloorPosition</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>8</integer>
				<key>virusFloorPosition</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>loopsEnabled</key>
		<true/>
		<key>detailType</key>
		<string>Door</string>
		<key>isOpened</key>
		<false/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>9</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>3</integer>
		<key>result_2</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>4</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>6</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>8</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>detailType</key>
		<string>Door</string>
		<key>loopsEnabled</key>
		<true/>
		<key>isOpened</key>
		<false/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>10</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>5</integer>
		<key>result_2</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>12</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>detailType</key>
		<string>Door</string>
		<key>loopsEnabled</key>
		<true/>
		<key>isOpened</key>
		<false/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>10</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>10</integer>
		<key>result_2</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>detailType</key>
		<string>Door</string>
		<key>loopsEnabled</key>
		<true/>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>7</integer>
				<key>virusFloorPosition</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>isOpened</key>
		<false/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>4</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>8</integer>
		<key>detailFloorPosition</key>
		<integer>4</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>4</integer>
		<key>result_2</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>detailType</key>
		<string>Door</string>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>11</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>loopsEnabled</key>
		<true/>
		<key>isOpened</key>
		<false/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>2</integer>
		<key>detailPosition</key>
		<integer>1</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>6</integer>
		<key>result_2</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>detailType</key>
		<string>Door</string>
		<key>blocksPattern</key>
		<array>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>loopsEnabled</key>
		<false/>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>11</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>isOpened</key>
		<false/>
		<key>robotPosition</key>
		<integer>2</integer>
		<key>detailPosition</key>
		<integer>1</integer>
		<key>detailFloorPosition</key>
		<integer>4</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>7</integer>
		<key>result_2</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>detailType</key>
		<string>Door</string>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>loopsEnabled</key>
		<true/>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>13</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>isOpened</key>
		<false/>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>7</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>9</integer>
		<key>result_2</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>6</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>8</integer>
				<key>virusFloorPosition</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>virusFloorPosition</key>
				<integer>4</integer>
				<key>virusPosition</key>
				<integer>11</integer>
			</dict>
		</array>
		<key>loopsEnabled</key>
		<true/>
		<key>detailType</key>
		<string>Door</string>
		<key>isOpened</key>
		<false/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>4</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>12</integer>
		<key>detailFloorPosition</key>
		<integer>4</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>6</integer>
		<key>result_2</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>detailType</key>
		<string>Door</string>
		<key>loopsEnabled</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>2</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>4</integer>
				<key>virusFloorPosition</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>virusFloorPosition</key>
				<integer>3</integer>
				<key>virusPosition</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>virusFloorPosition</key>
				<integer>3</integer>
				<key>virusPosition</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>virusFloorPosition</key>
				<integer>2</integer>
				<key>virusPosition</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>virusFloorPosition</key>
				<integer>1</integer>
				<key>virusPosition</key>
				<integer>12</integer>
			</dict>
		</array>
		<key>isOpened</key>
		<false/>
		<key>robotPosition</key>
		<integer>7</integer>
		<key>detailPosition</key>
		<integer>13</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>10</integer>
		<key>result_2</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>3</integer>
				<key>virusFloorPosition</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>virusFloorPosition</key>
				<integer>3</integer>
				<key>virusPosition</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>virusFloorPosition</key>
				<integer>4</integer>
				<key>virusPosition</key>
				<integer>9</integer>
			</dict>
		</array>
		<key>detailType</key>
		<string>Door</string>
		<key>loopsEnabled</key>
		<true/>
		<key>isOpened</key>
		<false/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>12</integer>
		<key>detailFloorPosition</key>
		<integer>4</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>7</integer>
		<key>result_2</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>blocksPattern</key>
		<array>
			<integer>4</integer>
			<integer>5</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>loopsEnabled</key>
		<false/>
		<key>detailType</key>
		<string>Door</string>
		<key>virusesPattern</key>
		<array>
			<dict>
				<key>virusPosition</key>
				<integer>8</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusPosition</key>
				<integer>10</integer>
				<key>virusFloorPosition</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>virusFloorPosition</key>
				<integer>1</integer>
				<key>virusPosition</key>
				<integer>12</integer>
			</dict>
		</array>
		<key>isOpened</key>
		<false/>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>13</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>6</integer>
		<key>result_2</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>isOpened</key>
		<false/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
