<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item 0</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
		</array>
		<key>virusPosition</key>
		<integer>4</integer>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>5</integer>
		<key>detailFloorPosition</key>
		<integer>4</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 1</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 2</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 3</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 4</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 5</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 6</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 7</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 8</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 9</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 10</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 11</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 12</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 13</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
	<key>item 14</key>
	<dict>
		<key>isOpened</key>
		<true/>
		<key>blocksPattern</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>robotPosition</key>
		<integer>1</integer>
		<key>detailPosition</key>
		<integer>2</integer>
		<key>detailFloorPosition</key>
		<integer>1</integer>
		<key>result</key>
		<integer>0</integer>
		<key>result_1</key>
		<integer>1</integer>
		<key>result_2</key>
		<integer>2</integer>
		<key>tutorial</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
